* {
  box-sizing: border-box;
  
  
}
body{
	color: #C8C8C8;
	background-attachment: fixed;
	opacity: .9;
	font-family: 'Titillium Web', sans-serif;
	background-color: white;
	background-color: #f2f2f2;
	
}
header{
	text-align: center;
	margin-bottom: 10px;
  	background-image: url('https://templated.co/items/demos/transitive/images/banner.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
  	color: white;

}
main{
	padding-left: 5%;
  	padding-right: 5%;
  	padding-bottom: 5%;
  	padding-top: 5%;
}
p{
  color: #C8C8C8;
  font-size: 17px;
}
img{
	width: 100%;

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.black{
	color: black;
}
.white{
	color: white;
}
.playlist{
  color: gray;
  font-size: 20px;
}
.content1{
  text-align: center;
  background-color: white;
  margin-bottom: 25px;
  padding-top: 10px;

 }
.content2{
 	height: 700px;
 	background-image: url('https://templated.co/items/demos/transitive/images/bg.jpg');
 	background-size: cover;
 	text-align: center;
 	opacity: .9;
 	background-color: transparent;
 	margin-bottom: 25px;
 }
 .lorem-content{
	padding: 30px 30px 30px 30px;
}
.main-content{
  
  border-radius: 50px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 1%;
  background-color: white;
  color: black;
 }
 .button:hover {
  background-color: #80bbff; 
}
.learn-more-button:hover{
	background-color: #505050;

}
.button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  background-color: #5AA6ED;
  font-size: 17px;
  height: 50px;
  width: 90%;
 
}
.learn-more-button{
	background-color: black;
	width: 200px;
}
.intro{
	margin-bottom: 5%;
	color: #C8C8C8;
	margin-bottom: 40px;	
}

 /* Non-mobile */
@media only screen and (min-width: 740px) {

	header{
		height: 785px;
		padding-top: 200px;
	}
	header p{
		font-size: 25px;
	}
	h1{
		font-size: 50px;
	}
	.button{
		width: 200px;
	}
	.start-button{
		margin-top: 80px;
	}


	
}